# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build outputs
/.next/
/out/
/build/

# Drizzle ORM
# Drizzle Kit generates a /drizzle folder for migrations.
/drizzle/

# Vercel
# The .vercel directory is created when running 'vercel dev'
.vercel/

# Environment Variables
# Never commit .env files. They are meant to be local and contain secrets.
# You can commit .env.example files with dummy values as a template for other developers.
.env.local
.env.*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Test runner caches
.jest/
/coverage/

# IDE & Editor specific files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp 